ul {
  font-size: 13px;
  position:-webkit-sticky;
  top: 0px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
#nav{
	padding: 20px;
}
li {
  float: left;
  border-right:  rgb(255, 255, 255);
}
/* #dropdownBasic1{
	z-index: 9999999999999;
} */
.link {
  display: block;
  text-align: center;
}
li a{
	padding: 14px 16px;
	text-decoration: none;
	color: rgb(19, 18, 18);

}

/* Change the link color to #111 (black) on hover */
.alink:hover {
  background-color: rgb(60, 157, 236);
  color: white;
}
.active {
  background-color: #cc900e;
}
li:last-child {
  border-right: none;
}
button{
	float: left;
	margin-right: auto;
}
