<!-- <div class="card-container">
	<div class="card u-clearfix">
	  <div class="card-body">
		<span class="card-number card-circle subtle">01</span>
		<span class="card-author subtle">John Smith</span>
		<h2 class="card-title">Salade</h2>
		<span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
		<div class="card-read">Read</div>
		<span class="card-tag card-circle subtle">C</span>
	  </div>
	  <img src="https://s15.postimg.cc/temvv7u4r/recipe.jpg" alt="" class="card-media" />
	</div>
	<div class="card-shadow"></div>
  </div>  -->

  <div class="hero-section">
	<div class="card-grid">
	  <a class="card" href="#">
		<div class="card__background" style="background-image: url('/assets/salade.jpg')"></div>
		<div class="card__content">
		  <p class="card__category">Category</p>
		  <h3 class="card__heading">Salade</h3>
		</div>
	  </a>
	  <a class="card" href="#">
		<div class="card__background" style="background-image: url('/assets/salade1.jpg')"></div>
		<div class="card__content">
		  <p class="card__category">Category</p>
		  <h3 class="card__heading">Salade</h3>
		</div>
	  </a>
	  <a class="card" href="#">
		<div class="card__background" style="background-image: url('/assets/salade2.jpg')"></div>
		<div class="card__content">
		  <p class="card__category">Category</p>
		  <h3 class="card__heading">Salade</h3>
		</div>
	  </a>
	  <a class="card" href="#">
		<div class="card__background" style="background-image: url('/assets/salade3.jpg')"></div>
		<div class="card__content">
		  <p class="card__category">Category</p>
		  <h3 class="card__heading">Salade</h3>
		</div>
	  </a>
	<div>
	</div>